
table{
  table-layout: fixed;
  width: 100%;
  background-image: url("assets/leopardskin.jpg");
  border-collapse:collapse;}

caption {
  display: table-caption;
  text-align: right;
  caption-side: bottom;
  font-family: "Rock Salt", cursive;
  border: 25px solid white;
}

th[scope="col"] {
    font-family: "Rock Salt", cursive;
    color: #FFF;
    border: 3px solid #800080;
    padding: 17px;}

td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    color: black;
    padding: 13px;
    font-weight: bold;
    text-align: center;}

.One{
 background-color: #ff33cc;}
.Two{
 background-color: #e495e4;}
.Three{
  font-family: "Rock Salt", cursive;
  font-size: 15px;
  color: White;
  border: 2px solid #800080;
  text-align: right;}
.Four{
  font-family: "Rock Salt", cursive;
  font-size: 15px;
  color: White;
  border: 3px solid #800080;
  text-align: left;}
